<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add / Edit User</title>
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<link rel="stylesheet" href="../public/css/layout.css">
	<link rel="stylesheet" href="../public/css/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
	<div class="ui container">
		<div class="mainGrid">
			<nav class="navDiv">
				<ul>
					<li>People</li>
					<li>Events</li>
					<li>Travel</li>
				</ul>
			</nav>
			<section class="listDiv">
				<h2>Groups</h2>
				<ul>
					<li class="listItem">
						<h3>BAND</h3>
						<a href="#!" class="edit">
							<i class="far fa-edit"></i>
						</a>
						<a href="#!" class="delete">
							<i class="far fa-trash-alt"></i>
						</a>
					</li>
					<li><h3>CREW</h3></li>
					<li><h3>PRINCIPALS</h3></li>
					<li><h3>* add new</h3></li>

				</ul>
			</section>
			<section class="editDiv"></section>
			<footer class="footer">footer</footer>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>


</body>
</html>