<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add / Edit Leg</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/multiple-select.css">
	<link rel="stylesheet" href="../public/css/layout.css">
</head>
<body>
	<h1>Create / Edit Leg</h1>
<div class="container">
	<ul class="travelerList">
		<li class="traveler">
			<input type="checkbox", data="12345678", id="check1">
			<label for="check1">Scott Totten</label>
		</li>
		<li class="traveler">
			<input type="checkbox", data="12345678", id="check2">
			<label for="check2">Jeffrey Foskett</label>
		</li>
		<li class="traveler">
			<input type="checkbox", data="12345678", id="check3">
			<label for="check3">Tim Bonhomme</label>
		</li>
		<li class="traveler">
			<input type="checkbox", data="12345678", id="check4">
			<label for="check4">Bruce Johnston</label>
		</li>
		<li class="traveler">
			<input type="checkbox", data="12345678", id="check5">
			<label for="check5">Mike Love</label>
		</li>
		<li class="traveler">
			<input type="checkbox", data="12345678", id="check6">
			<label for="check6">Brian Eichenberger</label>
		</li>
		<li class="traveler">
			<input type="checkbox", data="12345678", id="check7">
			<label for="check7">John Cowsill</label>
		</li>
		<li class="traveler">
			<input type="checkbox", data="12345678", id="check8">
			<label for="check8">Tara Ricart</label>
		</li>
		<li class="traveler">
			<input type="checkbox", data="12345678", id="check9">
			<label for="check9">John Bracken</label>
		</li>
	</ul>
</div>




<!-- 	<div class="leg-date col s12 m6">
		<label for="startDate">Date</label>
		<input type="text" class="datepicker" id="startDate">
	</div>
	<div class="leg-startTime col s12 m6">
		<label for="startTime">Departure Time</label>
		<input type="text" class="timepicker" id="startTime">
	</div>
 --></div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../public/js/general.js"></script>

</body>
</html>