<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add / Edit User</title>
	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	<link rel="stylesheet" href="../public/css/layout.css">
	<link rel="stylesheet" href="../public/css/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<body>
	<div class="container">
		<div class="mainGrid">
			<nav class="navDiv">
				<ul>
					<li>People</li>
					<li>Events</li>
					<li>Travel</li>
				</ul>
			</nav>
			<section class="listDiv">
				<h2>Groups</h2>
				<ul>
					<li class="listItem">
						<a href="#!"><p>BAND (group)</p></a>
						<a href="#!" class="edit icon">
							<i class="far fa-edit"></i>
							<div>edit</div>
						</a>
						<a href="#!" class="edit icon">
							<i class="far fa-copy"></i>
							<div>duplicate</div>
						</a>
						<a href="#!" class="delete icon">
							<i class="far fa-trash-alt"></i>
							<div>delete</div>
						</a>
					</li>
					<li class="listItem">
						<a href="#!"><input type="text" value="CREW (editing)"></a>
						<a href="#!" class="edit icon">
							<i class="far fa-save"></i>
							<div>save</div>
						</a>
						<div></div>
						<a href="#!" class="delete icon">
							<i class="far fa-trash-alt"></i>
							<div>delete</div>
						</a>
					</li>
					<li class="listItem disabled">
						<a href="#!"><p>BAND (disabled)</p></a>
						<a href="#!" class="edit icon">
							<i class="far fa-edit"></i>
							<div>edit</div>
						</a>
						<a href="#!" class="edit icon">
							<i class="far fa-copy"></i>
							<div>duplicate</div>
						</a>
						<a href="#!" class="delete icon">
							<i class="far fa-trash-alt"></i>
							<div>delete</div>
						</a>
					</li>

					<li class=""><h3>* add new</h3></li>

				</ul>
			</section>

			


			<section class="editDiv">
				<!-- <ul class="listPeople">

					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <span>Fosq</span> 
						</label>
						  <a href="#!" class="edit icon">
							<i class="far fa-edit"></i>
							<div>edit</div>
						</a>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <span>Fosq</span> 
						</label>
						  <a href="#!" class="edit icon">
							<i class="far fa-edit"></i>
							<div>edit</div>
						</a>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <span>Fosq</span> 
						</label>
						  <a href="#!" class="edit icon">
							<i class="far fa-edit"></i>
							<div>edit</div>
						</a>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>IKE</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Timmy</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Scotty T</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Fosq</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>IKE</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Timmy</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Scotty T</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Fosq</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>IKE</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Timmy</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Scotty T</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Fosq</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>IKE</span></a>
						</label>
					</li>
					<li class="listPerson">
						<label class=" ">
						  <input type="checkbox" checked="checked">
						  <a href="#!"><span>Timmy</span></a>
						</label>
					</li>
				</ul> -->
				<form action="#!" id="addEditUser">

					<div class="input"><label for="firstName">FIRST NAME</label><input type="text" id="firstName"></div>
					<div  class="input"><label for="firstName">LAST NAME</label><input type="text" id="firstName"></div>
					<div  class="input"><label for="firstName">USER NAME</label><input type="text" id="firstName"></div>
					<div  class="input"><label for="firstName">EMAIL</label><input type="text" id="firstName"></div>
					<div  class="input"><label for="firstName">PHONE</label><input type="text" id="firstName"></div>
					<div  class="input"><label for="firstName">HOME AIRPORT</label><input type="text" id="firstName"></div>
					<div class="submit">
						<input type="submit" value="submit">
					</div>
				</form>
			</section>
			<footer class="footer">footer</footer>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>


</body>
</html>