extends layout

block leftSide
	h2 Welcome to TripSync
	p Please sign in above

block rightSide
	h1 Sign Up
	form(action='/auth/signup', method='POST')
		.form-group
			label(for='email') Email
			input.form-control(type='email', id='email', name='email')
		.form-group
			label(for='password') Password
			input.form-control(id='password', type='password', name='password')
		input.btn.btn-success.btn-sm(type='submit', value='submit')



