extends layout
include mixins/_tripDisplay

block mainStuff
	h1= trip.name
	h3 Events
	+listEvents
	pre=h.dump(trip)

mixin listEvents
	ul
		each event in trip.tripEvents
			li= event.name
		a(href='/admin/events/new') * New Event
