extends layout

block leftSide
	form.form(action='/auth/signup', method='POST')
		legend Sign Up
		.form-group
			label(for='emailAddress') Email address
			input.form-control#emailAddress(type='email', name='email' required)
			label(for='password') Password
			input.form-control#password(type='password', name='password', required)
			button.btn.btn-primary(type='submit') Submit