
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
}

.bg {
	width: 100%;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(#ffffff94, #d7e2e97a), url(./images/bgmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
h2{
	padding: 10px 20px;
}
h3{
	font-family: 'Oswald', sans-serif;
}
body {
	font-family: 'Roboto', sans-serif;
	/*background-color: #FFFCF5;*/
	color: #66615b;
}
a {
	text-decoration: none;
}
.signInForm{
	text-align: center;
}
header.logo{
	font-family: monospace;
	font-size: 2rem;
}
.tripNameSmall{
	margin: 1rem 0;
    text-decoration: underline;
    grid-column: 1 / -1;
}
.signUpButtonDiv{
	text-align: center;
    margin: 3em;
}
.signUpForm{
	text-align: center;
}
.comingSoon{
	opacity: .6;
}
#newTripForm, #updateTripForm{
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    margin-top: 1rem;
}
.newTripForm #tripName {
	width: 20rem;
}
.rightSide{
	background-color: #ffffff5e;
    padding: 1rem;
    border-radius: 10px;
    max-width: 45rem;
}
#addLegForm #startLoc, #addLegForm #endLoc {
	/*width: 90%;*/
    /*margin: 3px 1rem;*/
}
.introNumber{
	font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin-right: .5rem;}
.legFromUser{
	list-style: none;
	margin-left: 1em;
	grid-column-start: 2;
}
.legFromUser a{
	margin-left: 1em;
}
.legEditIcon{
	font-size: 1.5rem;
    position: absolute;
    right: 2rem;
}
.tripsync{
	font-family: monospace;
    font-size: 1.5em;
}
.legTravelerList{
	list-style: none;
	margin: 1rem;
	padding: 0;
	text-align: center;
}
.legTraveler{
	font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.btn {
	margin: 8px;
	max-width: 300px;
}
.btn.signOut{
	border: 1px solid #999;
}
.navDiv {
	background-color: #1f4864;
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 1rem;
}
.navDiv a, .navDiv p {
	color: white;
}
.navbar{
	padding: 8px 20px;
}
.navBarMe{
	display: flex;
    align-items: center;
}
.navBarMe .signOut, .navBarMe .me {
	margin: 0 1rem;
}
@media (max-width: 450px){
	.me{
		display:none;
	}
}
.navbar-brand{
	font-family: monospace;
    font-size: 1.5rem;
}

.tripName{
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	margin: 1.5rem 0;
}
.edit {
	color: darkblue;
}
.button-group{
	display: flex;
}
.delete {
	color: darkred;
}
.leftSide{
	text-align: center;
}
.topRow{
	margin-bottom: 30px;
}
.viewLegButton{
	float: right;
}
.viewLegButton , .viewLegButton {
}
.legListItem .edit, .legListItem .delete, .legListItem .show{
	float: right;
	margin: 0 5px;
}
.legListItem.selectedLeg{
	background: #ffcb35;
}
.legListItem .date{
	display: block;
}
h5.tripName{
	margin-bottom: 0px;
	font-weight: bold;
}
p.tripDates{
	margin: 3px 0;
	color: #afafaf;
	font-size: 1rem;
}
.legListItem {
	position: relative;
}
.legListItem .fa-arrow-right {
	color: #bdbdbd;
	margin: 0 5px;
}
.legListItem .legLogo {
	color: #777;
}
.legListItem .date {

}
#googleTripMap, #googleLegMap, #googleAllTrips{
	background-color: #E4DBBF;
	width: 100%;
	height: 250px;
	box-shadow: 5px 5px 20px 2px #ddd;
	margin: 2rem 0;
}
#googleAllTrips{
	height: 350px;
}
.user-carousel .carousel-cell {
/*	width: 175px;
	height: 250px;*/
	border: 1px black solid;
	border-radius: 5px;
	margin: 10px;
	min-width: 100px;
	padding: 5px;
	display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: 115px;
    background-repeat: no-repeat;
    background-position-y: .5em;
}
.zoomOut{
	zoom: .9;
	-moz-transform: scale(0.9);
}
.openingText p{
	margin: 5px 0;
}

.carousel-cell button.userOut{
	background-color: white;
}
.newUserForm h3 {
	text-align: center;
}
/*.carousel-cell img{
	display: block;
	width: 100px;
}*/
.carousel-cell .userName{
    text-align: center;
    background-color: #ffffff;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px grey solid;
}
.carousel-cell .userName p {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	margin: 0;
	cursor: pointer;
}
.cityHeader{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	margin: 0;
	text-align: center;
}
.fromto{
	text-align: center;
	font-size: small;

}
.avatarChooser {
}
.avatarNameDisplay{
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-cell .emptyImageDiv {
	height: 100px;
}
.carousel-cell .btn{
	/*position: relative;*/
}
.addUserToLeg{
	background: rgb(252, 255, 78);
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px black solid;
    font-weight: bolder;
    top: 37px;
    font-size: 16px;
}
.removeUserFromLeg{
	position: absolute;
    top: -5px;
    right: -5px;
    font-size: 30px;
    background: white;
    border-radius: 50%;
    padding: 3px;
}

.newUserForm{
	padding: 25px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "firstName avatar" "lastName avatar" "email avatar" "save nameDisplay";
    /*background: white;
    max-width: 600px;
    border-radius: 10px;
    position: fixed;
    margin: -200px -300px;
    top: 50%;
    left: 50%;*/
}
.unselectedUser{
	opacity: .5;
}

#avatarChooser .carousel-cell{
	height: 200px;
	width: 200px;
}
/*.listItem {
	display: grid;
	grid-template-columns: 70% 1fr 1fr 1fr;
	padding: 0 10px;
}
.listItem p, .listItem input{
	margin: 10px 0;
	font-size: 18px;
	width: 100%;
}*/
.icon {
	align-self: center;
	/*justify-self: center;*/
	text-align: center;
}
.icon div{
	font-size: 9px;
}
.disabled .icon, .disabled p {
	color: #d0d0d0;
}
nav li {
	margin: 10px;
}
input, select {
	font-size: 18px;
}
.form{
	display: flex;
	flex-direction: column;
	/*grid-template-columns: 1fr 1fr;
	grid-gap: 5px;*/
}
.form label {
	margin: 5px;
}

label{
	display: block;
}
input{
	/*margin-left: 5px;*/
	/*width: 225px;*/
}
.listItem {
	display: grid;
	grid-template-columns: 1fr 30px 30px;
	margin: 5px;
	border-bottom: 1px lightgrey solid;
}
.list{
	margin: 0 20px;
}
.userCard{
	width: 500px;

	margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 200px 1fr;
    /*grid-template-rows: repeat(9, 1fr);*/
    grid-template-areas: 
    'photo fullName'
    'photo email'
    'photo phone'
    'photo userName'
    'photo homeAirport' ;
}
.legHeader{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-self: center;
}

.expandTripButton .tripName, .legListItem {
	cursor: pointer;
}
.btn{
	border: 3px solid #555;
    color: #555;

    font-family: 'Oswald', sans-serif;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 30px;
    display: inline-block;
    margin: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
}
.btn:hover, .btn:active, .btn:focus {
    background: #DC5B21;
    color: white;
}
.form-control{
	font-family: monospace;
	font-size: 1.5rem;
	width: 90%;
}
.updateUserButton{
	margin: 10px 0;
}