extends layout
include mixins/_userList
include mixins/_userForm

block listDiv
	h1 
		a(href='/admin/users') Users
	// pre= h.dump(users)
	+userList(users)

block editDiv
	h1 #{ user ? user.firstName + ' ' + user.lastName : 'New User'}
	+userForm(user)